PORT=3091
HOST=127.0.0.1
PAYOUT_SERVICE_API_SECRET=your-long-random-secret
NIM_PAYOUT_DATA_DIR=./data
NIM_PAYOUT_PRIVATE_KEY=
NIM_NETWORK=testalbatross
NIM_PAYOUT_TX_MESSAGE=You mined NIM on Nimiq.Space!
# NIM_BALANCE_CACHE_MS=20000
